<div class="container-fluid  animated bounceIn">
  <div class="col-md-9 mx-auto mt-5 mb-5">
      <div class="card border-danger shadow-lg shadow1">
          <div class="card-header bg-danger  border-danger text-light text-center text-uppercase text-monospace">
              <h3 class="text-shadow">Login Form</h3>
          </div>
          <div class="card-body text-dark text-monospace">
                  <div class="form-group">
                      <label for="email">Email Address</label>
                      <input type="email" placeholder="Enter Your Email Address" class="form-control hvr-shadow" id="email" required>
                  </div>

                  <div class="form-group">
                      <label for="pass">Password</label>
                      <input type="password" placeholder="Enter Accout Passoword" class="form-control hvr-shadow" id="pass" required>
                  </div>

                  <div class="form-group hvr-grow">
                      <input type="checkbox" required><label>Remember me</label>
                  </div>

                  <div class="text-center mt-4">
                      <input type="submit" value="Login" class="btn btn-outline-danger w-50 hvr-grow-shadow">
                  </div>

                  <div class="text-center mt-3">
                      <a class="btn  btn-link text-dark  hvr-grow" href="Registration.html">
                         Register Here If You Don't Have Account?
                      </a>
                  </div>
          </div>
      </div>

  </div>
</div>
