<div class="container">
<!--GROUP ALL IN TOGETHER IN CONTINER into 'shop' in ./main-layout/main-layout.component-->
  <mat-tab-group>

        <mat-tab label="FLOWERS">

       <!--FOR COMPONENT FLOWER-LIST-->
       <!-- selector : flower-list -->
          <flower-list></flower-list>
        </mat-tab>

        <mat-tab label="SEEDS">
        <!--FOR COMPONENT SEED-LIST-->
         <!-- selector : seed-list-->
          <seed-list></seed-list>
        </mat-tab>

        <mat-tab label="VESGETABLES">
          <!--FOR COMPONENT VEGETABLE-->
         <!-- selector : vesgetable-->
          <vesgetable></vesgetable>
        </mat-tab>
    </mat-tab-group>
</div>
