

<div class="container">
  <form  [formGroup]= "registerForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
        <!--LABLE NAME-->
        <label for="">User Name</label>
        <!--formControlName="userName"  assign to funtion ngOnInit() in registerForm group of userName part-->
        <input type="text" class="form-control"  placeholder="Enter Username" formControlName="userName" >

        <!-- checking input from user using funtion get regForm() controll-->
        <div *ngIf="regForm.userName.invalid && regForm.userName.touched" class="alert alert-danger">
          Error User Name
        </div>
        <!--IF CONDITION-->
        <div *ngIf="regForm.userName.pristine && !regForm.userName.touched" class="alert alert-primary">
          User Name is required
        </div>

    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <!--formControlName="email"  assign to funtion ngOnInit() in registerForm group of email part-->
      <input type="text" class="form-control"placeholder="Enter email" formControlName="email">
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <!--formControlName="password"  assign to funtion ngOnInit() in registerForm group of password part-->
      <input type="password" class="form-control" placeholder="Password" formControlName="password">
    </div>

    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid || btnDisabled">{{btnText}}</button>
  </form>

  <!-- get all the status-->
  {{registerForm.value | json }}
  {{registerForm.statusChanges  }}
  {{registerForm.status}}
  <!-- spaces-->
  <br><br><br>
  getValue(): {{getValue('Ivy')}}
  <br>
  Dirty {{registerForm.controls.userName.dirty  }} <br>
  Pristine {{registerForm.controls.userName.pristine  }} <br>
  Touched {{registerForm.controls.userName.touched  }} <br>
  Valid {{registerForm.controls.userName.valid  }} <br>
  Untouched {{registerForm.controls.userName.untouched }}<br>
  Errors {{registerForm.controls.userName.errors | json }} <br>

</div>
